<form action="/create_like_from_article" method="post">

  <input type="hidden" name="fan_id" value="<%= current_user.id %>">

  <input type="hidden" name="article_id" value="<%= @article.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>
