<h1>
  Edit like #<%= @like.id %>
</h1>

<hr>

<!-- Form like start -->
<form action="/update_like/<%= @like.id %>" method="post">
<!-- Form like end -->

  <!-- Label and input for fan_id start -->
  <!-- Label and input for fan_id end -->

  <!-- Label and input for article_id start -->
  <div class="form-group">
    <label for="article_id">
      Article
    </label>

    <!-- Input for article_id start -->
    <%= select_tag(:article_id, options_from_collection_for_select(Article.all, :id, :restaurant_yelp_id, @like.article_id), :class => "form-control") %>
    <!-- Input for article_id end -->
  </div>
  <!-- Label and input for article_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update like
  </button>
</form>

<hr>

<a href="/likes">
  Go back
</a>
